@import "bootstrap/bootstrap.less";

@import "font.less";

body {
  //padding-top: 60px;
  //padding-bottom: 40px;
}

//@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Ian Clausen
   ========================================================================== */

@lightAccentColor: #DDDDCD;

body {
	background-image: url('/img/wood_1.png');
	.titleDiv {

		.banner {
			margin:20px auto;
			background-image: url('/img/TitleFrameSlice.png');
			width:601px;
			height:244px;
			h1 {
				font-size: 48px;
				line-height:252px;
				margin: auto;
				text-align:center;
				width:601px;
				font-weight:600;
				font-family:'AlexBrushRegular', Arial, sans-serif;
				
				a {
					color:@lightAccentColor;
					text-decoration:none;
				}
			}
		}
	}
	
	.nav-items {
		line-height:30px;
		a{
			font-size:18px;
		}	
	}
}









